<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <style>
  	body{font-family: 'Roboto', sans-serif; color: #444;}
  	.logo{width: 100px}	
  	.container{margin: 0 auto; background: #fff; width: 60%; padding: 10px; text-align: center; min-height:300px}
  	@media (max-width: 768px) {
	  .container {
	    width: 98%;
	  }
	}
  	.social{width: 32px; height: 32px;}
  </style>
</head>

<body style="background: #eee;">

<div class="container">
	<p style="margin-bottom: 15px; border-bottom: 1px solid #ccc;">
		<%= image_tag attachments['logo.png'].url, :class => "logo" %>
	</p>
	<h2>Hola <%= @user.first_name %> <%= @user.last_name %></h2>
	<h2>tu nueva clave de acceso es:</h2>
  <h1><%= link_to "Recuperar contraseña", "http://www.approp.cl/recoveryPassword?hashcode="+@accountHash.hashcode, :target => "_blank" %></h1>
	
	<p style="paddin: 5px;border-bottom: 1px solid #ccc;"></p>
	<p>Enviado desde <%= link_to "www.approp.cl", "http://www.approp.cl", :target => "_blank" %></p>
	<p>Siguenos en</p>
	<p><%= image_tag attachments['face.png'].url, :class => "social" %> <%= image_tag attachments['twitter.png'].url, :class => "social" %>
	<%= image_tag attachments['linkedin.png'].url, :class => "social" %> </p>
</div>
</body>
</html>